<div class="row">
  <app-individual-transactions
    *ngIf="itComponent"
    [itData]="itData"
    (closeComponent)="close()"
  ></app-individual-transactions>
</div>
<div class="container-fluid">
  <div class="row" id="main">
    <form [formGroup]="projectForm" (ngSubmit)="onSaveForm()">
      <div class="row g-3">
        <div class="col-sm">
          <div class="form-floating mb-3">
            <input
              class="form-control"
              type="text"
              placeholder="name"
              (input)="autoComplete('name')"
              formControlName="name"
            />
            <label for="floatingInput">Name</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating mb-3">
            <input
              class="form-control"
              type="text"
              placeholder="name"
              formControlName="fatherName"
            />
            <label for="floatingInput">Father`s Name</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating mb-3">
            <input
              class="form-control"
              type="text"
              placeholder="name"
              formControlName="village"
            />
            <label for="floatingInput">Village</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating mb-3">
            <input
              formControlName="phone"
              (input)="autoComplete('phone')"
              class="form-control"
              placeholder="name"
              type="number"
              formControlName="phone"
            />
            <label for="floatingInput">Phone</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating mb-3">
            <input
              formControlName="caste"
              class="form-control"
              type="text"
              placeholder="name"
            />
            <label for="floatingInput">Caste</label>
          </div>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-sm d-flex justify-content-center">
          <button
            type="submit"
            [disabled]="!projectForm.valid"
            class="btn btn-primary"
            style="width: 75mm"
          >
            Save
          </button>
        </div>
      </div>
    </form>
    <div class="d-flex justify-content-between">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-arrow-left-circle"
          viewBox="0 0 16 16"
          (click)="pageChange(-1)"
        >
          <path
            fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
          />
        </svg>
      </div>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-arrow-right-circle"
          viewBox="0 0 16 16"
          (click)="pageChange(1)"
        >
          <path
            fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
          />
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col mt-3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">NAME</th>
              <th scope="col">FATHER`S NAME</th>
              <th scope="col">VILLAGE</th>
              <th scope="col">CONTACT NUMBER</th>
              <th scope="col">CASTE</th>
              <th scope="col">NEW TRANSACTION</th>
              <th scope="col">VIEW TRANSACTION</th>
              <th scope="col">EDIT CUSTOMER</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let option of customers; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ option.name }}</td>
              <td>{{ option.fatherName }}</td>
              <td>{{ option.village }}</td>
              <td>{{ option.phone }}</td>
              <td>{{ option.caste }}</td>
              <td>
                <button class="btn btn-primary" (click)="openNav(i)">N</button>
              </td>
              <td>
                <button class="btn btn-primary" (click)="open(i)">V</button>
              </td>
              <td><button class="btn btn-warning">E</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
      >&times;</a
    >
    <div class="div" *ngIf="sideBar">
      <app-new-transaction [newTrData]="newTrData"></app-new-transaction>
    </div>
  </div>
</div>
