<div class="container-fluid">
  <div class="row">
    <div class="col">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Date Range</mat-label>
        <mat-date-range-input
          [formGroup]="mainForm"
          [rangePicker]="campaignOnePicker"
        >
          <input
            matStartDate
            placeholder="Start date"
            formControlName="start"
          />
          <input matEndDate placeholder="End date" formControlName="end" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matSuffix
          [for]="campaignOnePicker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="show()">SHOW</button>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="print()">PRINT</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">DATE</th>
            <th scope="col">AMOUNT</th>
            <th scope="col">TYPE</th>
            <!-- <th scope="col">APPROVE</th>
            <th scope="col">DECILNE</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let option of allTransaction; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ option.date }}</td>
            <td>{{ option.amount }}</td>
            <td>{{ option.type }}</td>
            <!-- <td>
              <button class="btn btn-warning" (click)="approve(i)">
                APPROVE
              </button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="decline(i)">
                DECLINE
              </button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
