<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                TOTAL ISSUE
              </h5>
              <span class="h2 font-weight-bold mb-0">{{ forTotal.ISSUE }}</span>
            </div>
            <div class="col-auto">
              <div
                class="
                  icon icon-shape
                  bg-gradient-red
                  text-white
                  rounded-circle
                  shadow
                "
              >
                <i class="ni ni-active-40"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                TOTAL RETURN
              </h5>
              <span class="h2 font-weight-bold mb-0">{{
                forTotal.RETURN
              }}</span>
            </div>
            <div class="col-auto">
              <div
                class="
                  icon icon-shape
                  bg-gradient-orange
                  text-white
                  rounded-circle
                  shadow
                "
              >
                <i class="ni ni-chart-pie-35"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                TOTAL DEBIT
              </h5>
              <span class="h2 font-weight-bold mb-0">{{ forTotal.DEBIT }}</span>
            </div>
            <div class="col-auto">
              <div
                class="
                  icon icon-shape
                  bg-gradient-green
                  text-white
                  rounded-circle
                  shadow
                "
              >
                <i class="ni ni-money-coins"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card card-stats">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                TOTAL CREDIT
              </h5>
              <span class="h2 font-weight-bold mb-0">{{
                forTotal.CREDIT
              }}</span>
            </div>
            <div class="col-auto">
              <div
                class="
                  icon icon-shape
                  bg-gradient-info
                  text-white
                  rounded-circle
                  shadow
                "
              >
                <i class="ni ni-chart-bar-32"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-start">
    <div class="mr-4">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Date Range</mat-label>
        <mat-date-range-input
          [formGroup]="mainForm"
          [rangePicker]="campaignOnePicker"
        >
          <input
            matStartDate
            placeholder="Start date"
            formControlName="start"
          />
          <input matEndDate placeholder="End date" formControlName="end" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matSuffix
          [for]="campaignOnePicker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <div class="mr-4">
      <button class="btn btn-primary" (click)="show(0)">SHOW</button>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="print()">PRINT</button>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="currentColor"
        class="bi bi-arrow-left-circle"
        viewBox="0 0 16 16"
        (click)="show(-1)"
      >
        <path
          fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
        />
      </svg>
    </div>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="currentColor"
        class="bi bi-arrow-right-circle"
        viewBox="0 0 16 16"
        (click)="show(1)"
      >
        <path
          fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
        />
      </svg>
    </div>
  </div>
  <div class="row mt-3">
    <!--  -->
    <div class="col">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">ALL TRANSACTION</h3>
            </div>
            <!-- <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div> -->
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table
            class="table align-items-center table-flush"
            style="zoom: 125%"
          >
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">AMOUNT</th>
                <th scope="col">TYPE</th>
                <th scope="col">MAIN BALANCE</th>
              </tr>
            </thead>
            <tbody *ngFor="let option of allTransaction; index as i">
              <tr
                *ngIf="option.mainBal == undefined; else elseBlock"
                style="
                  color: gray;
                  font-family: 'Courier New', Courier, monospace;
                "
              >
                <th scope="row">{{ option.index }}</th>
                <td>{{ option.amount }}</td>
                <td>
                  <i
                    *ngIf="option.type == 'RETURN'"
                    class="fas fa-arrow-down text-success mr-3"
                  ></i>
                  <i
                    *ngIf="option.type == 'ISSUE'"
                    class="fas fa-arrow-up text-danger mr-3"
                  ></i>
                  <i
                    *ngIf="option.type == 'DEBIT'"
                    class="fas fa-arrow-up text-warning mr-3"
                  ></i>
                  <i
                    *ngIf="option.type == 'CREDIT'"
                    class="fas fa-arrow-down text-info mr-3"
                  ></i>
                  {{ option.type }}
                </td>
                <td>{{ option.main_bal }}</td>
              </tr>
              <ng-template #elseBlock>
                <tr style="color: black; font-family: 'Open sans' sans-serif">
                  <td scope="col" style="font-size: large">
                    {{ option.date }}
                  </td>
                  <td scope="col" style="font-size: large">
                    DEBIT&emsp;&emsp;{{
                      option.DEBIT
                    }}&emsp;&emsp;CREDIT&emsp;&emsp;{{ option.CREDIT }}
                  </td>
                  <td scope="col" style="font-size: large">
                    ISSUE&emsp;&emsp;{{
                      option.ISSUE
                    }}&emsp;&emsp;RETURN&emsp;&emsp;{{ option.RETURN }}
                  </td>
                  <td scope="col" style="font-size: large">
                    {{ option.mainBal }}
                  </td>
                  <!-- <th>
                        {{ option.mainBal }}
                      </th> -->
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</div>
<!--  -->
<!--  -->
<!-- Core -->
<!-- <script src="../../assets/vendor/jquery/dist/jquery.min.js"></script> -->
<!-- <script src="../../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
<!-- <script src="../../assets/vendor/js-cookie/js.cookie.js"></script> -->
<!-- <script src="../../assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="../../assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script> -->
<!-- Optional JS -->
<!-- <script src="../../assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="../../assets/vendor/chart.js/dist/Chart.extension.js"></script> -->
<!-- Argon JS -->
<!-- <script src="../../assets/js/argon.js?v=1.2.0"></script> -->
