<div class="container-fluid">
  <form [formGroup]="projectForm" (ngSubmit)="onSaveForm()">
    <div class="row p-3">
      <div class="form-check form-switch">
        <mat-slide-toggle
          formControlName="type"
          (click)="typeSelect()"
        ></mat-slide-toggle>
        <label class="form-check-label" for="flexSwitchCheckDefault">
          MAKE A {{ dcType }}</label
        >
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <input
              type="number"
              class="form-control"
              placeholder="Amount"
              formControlName="amount"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Description"
              formControlName="description"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row p-3">
      <div class="col d-flex justify-content-center">
        <button
          class="btn btn-danger"
          [disabled]="!projectForm.valid"
          type="submit"
        >
          Save
        </button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Date Range</mat-label>
        <mat-date-range-input
          [formGroup]="dateForm"
          [rangePicker]="campaignOnePicker"
        >
          <input
            matStartDate
            placeholder="Start date"
            formControlName="start"
          />
          <input matEndDate placeholder="End date" formControlName="end" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matSuffix
          [for]="campaignOnePicker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="show()">SHOW</button>
    </div>
    <!-- <div class="col">
      <button class="btn btn-primary">PRINT</button>
    </div> -->
  </div>
  <table class="table table-striped" style="zoom: 125%">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let option of dcArray; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ option.amount }}</td>
        <td>{{ option.date }}</td>
        <td>{{ option.description }}</td>
      </tr>
    </tbody>
  </table>
</div>
